certifi==2019.3.9
chardet==3.0.4
Click==7.0
gunicorn==19.9.0
h11==0.9.0
httptools==0.0.13
idna==2.8
PyYAML==5.1
requests==2.22.0
six==1.12.0
starlette==0.12.0
ujson==1.35
urllib3==1.25.3
uvicorn==0.7.1
uvloop==0.12.2
websockets==7.0
wirerope==0.2.1
